<%- include('../partials/header') %>

    <p>Welcome to the skill specific page for <h3><%= skill.skill %></h3> </p>
  <h3>Learned: <%= skill.learned ? 'Yes' : 'No' %></h3>
 

  <a href="/skills/<%= skill.id %>/edit" class="btn btn-warning" role="button" >Edit</a>

  <%- include('../partials/footer') %>